<form action="">
    <input type="text" placeholder="Curso" [(ngModel)] = "curso.nomeCurso" name="nome">
    <input type="number" placeholder="Valor" [(ngModel)] = "curso.valorCurso" name="valor">
    <input type="text" placeholder="Área" [(ngModel)] = "curso.areaCurso" name="area">
    <input type="button" value="Cadastrar" (click)="cadastrar()">
</form>

<!-- Tabela -->
<table>
    <tr>
        <td>Curso</td>
        <td>Valor</td>
        <td>Área</td>
        <td>Ações</td>
    </tr>

    <tr *ngFor = "let curso of vetorDeCursos">
        <td>{{curso.nomeCurso}}</td>
        <td>{{curso.valorCurso}}</td>
        <td>{{curso.areaCurso}}</td>
    </tr>
</table>